@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F4DA5;
    font-family: "Cabin", "sans-serif";
}

.shadow-container {
    border: 3px solid #9B4AB0;
    box-shadow: #9B4AB0 0px 6px;
}

.neon-sign {
    clip-path: polygon(11% 0, 89% 0, 100% 13%, 100% 89%, 89% 100%, 11% 100%, 0 89%, 0 14%);
}